body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.county {
  stroke: #000000;
  stroke-width: 0.5px;
}
.county:hover {
  stroke: #333;
  stroke-width: 2px;
}
#tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  font-size: 18px;
  padding: 5px;
  pointer-events: none;
  opacity: 0;
}

#loader {
  width: 80px;
  height: 80px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none;
  position: absolute;
  top: 40%;
  left: 15%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#map-container {
  position: relative;
}

a {
  color: #164734;
}

a:hover {
  color: #333;
}

a:visited {
  color: #164734
}